*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
}

:root {
  --text-color: #000;
  --link-color: #000;
  --backgroung-grey: #f1f1f2;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

body {
  width: 1440px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block-start: 37.7px;
  padding-block-end: 35.64px;
}

.header__logo {
  align-self: center;
  width: 41px;
  height: 39px;
  margin-inline-start: 80px;
  margin-block-start: 4px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__menu {
  grid-column-start: 2;
  justify-self: center;
  margin-block-start: 8px;
}

.header__menu-list {
  display: flex;
  gap: 31px;
  list-style: none;
}

.header__menu-item-link {
  font-size: 18px;
  line-height: normal;
}

.button {
  display: flex;
  flex-shrink: 0;
  border-radius: 5px;
}

.header__button {
  grid-column-start: 3;
  justify-self: flex-end;
  align-self: center;
  width: 150px;
  height: 43.5px;
  margin-inline-end: 34px;
  border: 1px solid #f7941e;
}

.button__text {
  margin: auto;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}

.header__button-text {
  color: #e7941e;
  line-height: normal;
}

.section__grey {
  background-color: var(--backgroung-grey);
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.text {
  color: var(--text-color);
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.intro__section-1 {
  padding: 144px 126px 135px 162px;
}

.intro__section-1_heading {
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
  margin-block-end: 43px;
}

.intro__section-1_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 140.625%; 
  margin-block-end: 59px;
}

.intro__section-1_button {
  width: 200px;
  height: 60px;
  background: #f7941e;
}

.intro__section-1_button-text {
  color: #fff;
  line-height: normal;
}

.intro__section-media-1 {
  width: 100%;
  height: 700px;
  background-image: url(./images/media1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__section-media-2 {
  width: 100%;
  height: 600px;
  background-image: url(./images/media2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__section-2 {
  padding: 156px 166px 104px 113px;
}

.intro__section-2_heading {
  font-size: 32px;
  line-height: 140.625%;
  margin-block-end: 27px;
}

.intro__section-2_text {
  line-height: 140.625%;
  word-spacing: 7px;
  text-align: justify;
  margin-block-end: 40px;
}

.intro__section-2_button {
  width: 200px;
  height: 60px;
  border: 1px solid #f7941e;
}

.intro__section-2_button-text {
  color: #F7941E;
  font-size: 18px;
  line-height: 134.766%;
}



